* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding: 130px 150px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.btn-primary {
    background-color: #FD6E0A;
    height: 60px;
   padding: 18px 35px;
    border-radius: 5px;
    border: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}

.section-title{
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 30px;
}

/* Header  and navigation style*/
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-size: 600px, 70px;
    background-repeat: no-repeat;
    background-position: bottom right, left;
    
    
    
   
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    align-items: center;
}


nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.text-primary {
    color: #FD6E0A;
}

/* banner style */
.banner{
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner img{
    width: 400px;
}
.banner-content{
    width: 50%;
   
}
.banner-title{
    font-size: 80px;
    font-weight: 700;
    line-height: 116px;
}

.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 20px;
}

.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* About Me */

.about-me{
    width: 1140px;
    height: 500px;
    margin: 100px auto;
    text-align: center;
   background-color: #FFF8F3;
   
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.about-me .info-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}
.about-me .info-desc{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}